body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

#heading {
  color: white;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heading-box {
  height: 100vh;
  margin-bottom: 10vh;
}

h1, h2 {
    text-align: center
}
