<div class="homepage">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <a href="/movies"><button>Check all the movie</button></a>
  <a href="/fan/fan-create"><button>Create a Fan</button></a>
</div>