<h1>Update Movie</h1>
<form action="/movie/{{_id}}/update" method="post">
  <label>
    Movie Title
    <input type="text" name="title" value="{{title}}" />
  </label>
  <label>
    Director
    <input type="text" name="director" value="{{director}}" />
  </label>
  <label>
    Description
    <input type="text" name="description" value="{{description}}" />
  </label>
  <button type="submit">Update Movie</button>
</form>