<h1>
  Super nice article stuff you have to pay for!
</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi iste
  blanditiis ipsam illo officiis consequuntur ducimus, odit doloremque nostrum
  cum minus id magnam architecto similique voluptatem, tempora reprehenderit
  culpa ipsum!
</p>