<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the Home Page 👋 dog🐕🐕🐕🐕</h1>
    <button>Click Me</button>
    <div class="flex-col">
      <a href="/dog">Go to the Dog Page</a>
      <a href="/cat">I prefer to go to the cat page</a>
      <a href="/turtle">Turtles!</a>
    </div>

    <script src="/javascript/script.js"></script>
  </body>
</html>
