<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Turtle Page</title>
  </head>
  <body>
    <h1>Turtles are even more awesome!</h1>
    <div>
      <img src="/images/baby-turtle.png" alt="image of a cute baby turtle" />
    </div>
    <a href="/">Go back Home</a>
  </body>
</html>
