body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.image {
  height: 8rem;
}
.card {
  border: 1px solid gray;
  border-radius: 10px;
  width: 500px;
  padding: 10px;
  margin: 20px;
}
