<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express GET Demo</title>
  </head>
  <body>
    <h1>Search the Rick and Morty Characters!</h1>
    <form action="/find-by-name" method="get">
      <label for="name">Character:</label>
      <input
        id="name"
        name="name"
        type="text"
        value=""
        placeholder="Type the name of the character here"
      />
      <button type="submit">Send!</button>
    </form>
  </body>
</html>
